Package: libpcre16
Version: 8.41-2
Depends: libc
Source: feeds/packages/libs/pcre
License: BSD-3-Clause
LicenseFiles: LICENCE
Section: libs
Maintainer: Thomas Heil <heil@terminal-consulting.de>
Architecture: mips_24kc
Installed-Size: 66699
Description:  A Perl Compatible Regular Expression library (16bit support)
