Package: libmbedtls
Version: 2.16.0-2
Depends: libc
Source: package/feeds/base/mbedtls
License: GPL-2.0+
Section: libs
Architecture: mips_24kc
Installed-Size: 186909
Description:  The aim of the mbedtls project is to provide a quality, open-source
 cryptographic library written in C and targeted at embedded systems.
 This package contains the mbedtls library.
