Package: libgcc
Version: 5.4.0-1
Source: package/toolchain
License: GPL-3.0-with-GCC-exception
Section: libs
Status: unknown hold not-installed
Essential: yes
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: mips_24kc
Installed-Size: 34158
Description:  GCC support library
